Repository djwalcott/contentfully, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, store, ui, automation

tests(queries): setup tests for queries (#11)
  .github/workflows/lint-test.yml
  __tests__/App-test.tsx
  docs/hour-logging.md
  jest.config.js
  package.json
  src/__mocks__/react-native-mmkv.ts
  src/constants/constants.ts
  src/hooks/__tests__/entry.tsx
  src/hooks/entry.ts
  src/hooks/locales.ts
  src/setupTests.ts
  src/storage/store.ts
  src/testing/query-wrapper.tsx
  src/utilities/__tests__/color.ts
  yarn.lock
Labels: store

chore(env): add env to gitignore
  .gitignore
Labels: none

chore(packages): update rn
  ios/.xcode.env
  ios/Contentfully.xcodeproj/project.pbxproj
  ios/Contentfully/AppDelegate.m
  ios/Contentfully/AppDelegate.mm
  ios/Contentfully/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/Contentfully/main.m
  ios/ContentfullyTests/ContentfullyTests.m
  ios/Podfile
  ios/Podfile.lock
Labels: none

chore(packages): update rn
  .bundle/config
  .editorconfig
  .gitattributes
  .gitignore
  .prettierrc.js
  .ruby-version
  .vscode/c_cpp_properties.json
  Gemfile
  android/app/src/debug/AndroidManifest.xml
  android/app/src/debug/java/com/contentfully/ReactNativeFlipper.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/contentfully/MainActivity.java
  android/app/src/main/java/com/contentfully/MainApplication.java
  android/app/src/main/java/com/contentfully/newarchitecture/MainApplicationReactNativeHost.java
  android/app/src/main/java/com/contentfully/newarchitecture/components/MainComponentsRegistry.java
  android/app/src/main/java/com/contentfully/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  android/app/src/main/jni/CMakeLists.txt
  android/app/src/main/jni/MainApplicationModuleProvider.cpp
  android/app/src/main/jni/MainApplicationModuleProvider.h
  android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  android/app/src/main/jni/MainComponentsRegistry.cpp
  android/app/src/main/jni/MainComponentsRegistry.h
  android/app/src/main/jni/OnLoad.cpp
  android/app/src/main/res/drawable/rn_edit_text_material.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/settings.gradle
  package.json
  src/components/notifications/notifications-settings.tsx
  src/hooks/useThemeScheme.ts
  src/navigation/navigation.tsx
  yarn.lock
Labels: ui

chore(packages): update packages
  package.json
  yarn.lock
Labels: none

chore(deps): update deps
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

assets:
  - 'src/assets/**/*'

store:
  - 'src/storage/**/*'

ui:
  - 'src/components/**/*'
  - 'src/views/**/*'

automation:
  - '.github/'

ignore-for-release:
  - all: ['**/*.md', '**/*.mdx']
